<!-- <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Log in" %></div>
<% end %>

<%= render "devise/shared/links" %>
 -->

 <div id="nx-container">
          
      <div id="nx-container-bottom">
      
              <div id="nx-left-sidebar">
          <div class="nx-menu-left">
            <div class="bannergroup">

  <div class="banneritem">
                                                                                            <img src="http://truemart.net/vmdemo/bakerymart/images/banners/banner-left.jpg" alt="Banner Left">
                      <div class="clr"></div>
  </div>

</div>

          </div>
        </div> <!-- END Left-SideBar -->
       
                <div id="nx-breadcrumbs">
              
              
<div class="breadcrumbs">
<a href="/vmdemo/bakerymart/" class="pathway">Home</a> <img src="/vmdemo/bakerymart/media/system/images/arrow.png" alt=""> <a href="/vmdemo/bakerymart/index.php/register" class="pathway">Register</a> <img src="/vmdemo/bakerymart/media/system/images/arrow.png" alt=""> <span>Your account details</span></div>

                  
            </div><!-- #nx-breadcrumbs -->
         
  
        <div class="clear-fix"></div>
        <div id="nx-content">
          
          <div class="clear-fix"></div>
          
          <div class="nx-component">
            
<div id="system-message-container">
</div>
            <style type="text/css">
.invalid {
  border-color: #f00;
  background-color: #ffd;
  color: #000;
}
label.invalid {
  background-color: #fff;
  color: #f00;
}
</style>
<script language="javascript">
function myValidator(f, t)
{
  f.task.value=t;
  if (document.formvalidator.isValid(f)) {
    f.submit();
    return true;
  } else {
    var msg = 'Required field is missing';
    alert (msg);
  }
  return false;
}
</script>
<h1>Your account details</h1>

 <form action="/vmdemo/bakerymart/index.php/register" method="post" name="com-login">
    <div>
    <h2>
      When you are already registered, please login directly here   </h2>
  </div>
  <div class="clear"></div>
    <p class="width30 floatleft" id="com-form-login-username">
    <input type="text" name="username" class="inputbox" size="18" alt="Username" value="Username" onblur="if(this.value=='') this.value='Username';" onfocus="if(this.value=='Username') this.value='';">
  </p>

  <p class="width30 floatleft" id="com-form-login-password">
        <input id="modlgn-passwd" type="password" name="password" class="inputbox" size="18" alt="Password" value="Password" onblur="if(this.value=='') this.value='Password';" onfocus="if(this.value=='Password') this.value='';">
      </p>

  <p class="width30 floatleft" id="com-form-login-remember">
    <input type="submit" name="Submit" class="default" value="Login">
        <label for="remember">Remember me   </label> <input type="checkbox" id="remember" name="remember" class="inputbox" value="yes" alt="Remember Me">
      </p>
  <div class="clr"></div>

  <div class="width30 floatleft">
    <a class="forgot-account" href="/vmdemo/bakerymart/index.php/login?view=remind">
      Forgot your username?   </a>
  </div>
  <div class="width30 floatleft">
    <a class="forgot-account" href="/vmdemo/bakerymart/index.php/login?view=reset">
      Forgot your password?   </a>
  </div>



  
  <div class="clr"></div>


    <input type="hidden" name="task" value="user.login">
    <input type="hidden" name="option" value="com_users">
  <input type="hidden" name="return" value="L3ZtZGVtby9iYWtlcnltYXJ0L2luZGV4LnBocC9yZWdpc3Rlcg==">
  <input type="hidden" name="793d37576e173d1a755a596f20aef836" value="1"></form>



<h2>Register</h2>
<form method="post" id="adminForm" name="userForm" action="/vmdemo/bakerymart/index.php/register" class="form-validate">
<div class="buttonBar-right">
  <button class="button" type="submit" onclick="javascript:return myValidator(userForm, 'saveUser');">Register</button>
  &nbsp;
  <button class="button" type="reset" onclick="window.location.href='/vmdemo/bakerymart/index.php/register'">Cancel</button>

</div>
<span class="userfields_info">Fill in those fields to create an account</span>  <table class="adminForm user-details">
    <tbody><tr>
      <td class="key" title="">
        <label class="name" for="name_field">
          Displayed Name
        </label>
      </td>
      <td>
        <input type="text" id="name_field" name="name" size="30" value="" maxlength="25"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="username" for="username_field">
          Username
        </label>
      </td>
      <td>
        <input type="text" id="username_field" name="username" size="30" value="" maxlength="25"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="password" for="password_field">
          Password
        </label>
      </td>
      <td>
        <input type="password" id="password_field" name="password" size="30" class="inputbox">

      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="password2" for="password2_field">
          Confirm Password
        </label>
      </td>
      <td>
        <input type="password" id="password2_field" name="password2" size="30" class="inputbox">

      </td>
    </tr>
  </tbody></table>
<span class="userfields_info">Add/Edit billing address information</span> <table class="adminForm user-details">
    <tbody><tr>
      <td class="key" title="">
        <label class="company" for="company_field">
          Company Name
        </label>
      </td>
      <td>
        <input type="text" id="company_field" name="company" size="30" value="" maxlength="64"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="email" for="email_field">
          E-Mail *
        </label>
      </td>
      <td>
        <input type="text" id="email_field" name="email" size="30" value="" class="required" maxlength="100" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="title" for="title_field">
          Title
        </label>
      </td>
      <td>
        <select id="title" name="title">
</select>

      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="first_name" for="first_name_field">
          First Name *
        </label>
      </td>
      <td>
        <input type="text" id="first_name_field" name="first_name" size="30" value="" class="required" maxlength="32" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="middle_name" for="middle_name_field">
          Middle Name
        </label>
      </td>
      <td>
        <input type="text" id="middle_name_field" name="middle_name" size="30" value="" maxlength="32"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="last_name" for="last_name_field">
          Last Name *
        </label>
      </td>
      <td>
        <input type="text" id="last_name_field" name="last_name" size="30" value="" class="required" maxlength="32" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="address_1" for="address_1_field">
          Address 1 *
        </label>
      </td>
      <td>
        <input type="text" id="address_1_field" name="address_1" size="30" value="" class="required" maxlength="64" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="address_2" for="address_2_field">
          Address 2
        </label>
      </td>
      <td>
        <input type="text" id="address_2_field" name="address_2" size="30" value="" maxlength="64"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="zip" for="zip_field">
          Zip / Postal Code *
        </label>
      </td>
      <td>
        <input type="text" id="zip_field" name="zip" size="30" value="" class="required" maxlength="32" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="city" for="city_field">
          City *
        </label>
      </td>
      <td>
        <input type="text" id="city_field" name="city" size="30" value="" class="required" maxlength="32" aria-required="true" required="required"> 
      </td>
    </tr>

    <tr>
      <td class="key" title="">
        <label class="virtuemart_state_id" for="virtuemart_state_id_field">
          State / Province / Region *
        </label>
      </td>
      <td>
        <select class="inputbox multiple" id="virtuemart_state_id" size="1" name="virtuemart_state_id" required="">
            <option value="">-- Select --</option>
            </select>
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="phone_1" for="phone_1_field">
          Phone *
        </label>
      </td>
      <td>
        <input type="text" id="phone_1_field" name="phone_1" size="30" value="" class="required" maxlength="32" aria-required="true" required="required"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="phone_2" for="phone_2_field">
          Mobile Phone
        </label>
      </td>
      <td>
        <input type="text" id="phone_2_field" name="phone_2" size="30" value="" maxlength="32"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="fax" for="fax_field">
          Fax
        </label>
      </td>
      <td>
        <input type="text" id="fax_field" name="fax" size="30" value="" maxlength="32"> 
      </td>
    </tr>
    <tr>
      <td class="key" title="">
        <label class="agreed" for="agreed_field">
          I agree to the Terms of Service
        </label>
      </td>
      <td>
        <input type="checkbox" name="agreed" id="agreed_field" value="1">
      </td>
    </tr>
  </tbody></table>



<input type="hidden" name="task" value="saveUser">
<input type="hidden" name="address_type" value="BT">

<input type="hidden" name="option" value="com_virtuemart">
<input type="hidden" name="controller" value="user">
<input type="hidden" name="793d37576e173d1a755a596f20aef836" value="1"></form>


          </div> <!-- END component -->
        </div> <!-- End Content -->
        
      </div> <!-- END CONTAINER BOTTOM -->
      
      <div class="nx-extra-user">
        <div class="nx-user-1">
              <div class="moduletable">
          

<div class="custom">
  <p><img src="/vmdemo/bakerymart/images/user-1.jpg" border="0" alt=""></p>
<div class="text-user">
<h3>Diwali Pre-Oder Offer!</h3>
<p>Little kids, BIG surprises! Check out to delight kids.</p>
<p><a href="/vmdemo/bakerymart/index.php/chocolates">Click here to gift now...</a></p>
</div></div>
    </div>
  
        </div> <!-- End User-1 -->
        
        <div class="nx-user-2">
              <div class="moduletable">
          

<div class="custom">
  <p><img src="/vmdemo/bakerymart/images/user-2.jpg" border="0" alt="user"></p>
<div class="text-user">
<h3>Send Gifts International</h3>
<p>You can now send gifts to over 100 countries Internationally!</p>
<p><a href="/vmdemo/bakerymart/index.php/breads">View our global collection......</a></p>
</div></div>
    </div>
  
        </div> <!-- End User-2 -->
        
        <div class="nx-user-3">
              <div class="moduletable">
          

<div class="custom">
  <p><img src="/vmdemo/bakerymart/images/user-3.jpg" border="0" alt="user"></p>
<div class="text-user">
<h3>Kid's Store</h3>
<p>Little kids, BIG surprises! Check out our vast collection of gifts to delight your kids.</p>
<p><a href="/vmdemo/bakerymart/index.php/chocolates">Click here to gift now...</a></p>
</div></div>
    </div>
  
        </div> <!-- End User-2 -->
        
      </div> <!-- END Extra User -->
      
      <div class="nx-menu-bottom">
            <div class="moduletable">
          <h3>Shop Our Cakes</h3>
          
<ul class="menu">
<li class="item-146"><a href="/vmdemo/bakerymart/index.php/bundt-cakes">Bundt Cakes</a></li><li class="item-147"><a href="/vmdemo/bakerymart/index.php/layer-cakes">Layer Cakes</a></li><li class="item-148"><a href="/vmdemo/bakerymart/index.php/cup-cakes">Cup Cakes</a></li><li class="item-149"><a href="/vmdemo/bakerymart/index.php/specialty">Specialty</a></li><li class="item-150"><a href="/vmdemo/bakerymart/index.php/all-products">All Products</a></li></ul>
    </div>
  
      </div> <!-- END Menu-Bottom -->
      
    </div>