#nx-container
  #nx-container-bottom
    #nx-left-sidebar
      .nx-menu-left
        .bannergroup
          .banneritem
            %img{:alt => "Banner Left", :src => "http://truemart.net/vmdemo/bakerymart/images/banners/banner-left.jpg"}/
            .clr
    .clear-fix
    #nx-content
      .clear-fix
      .nx-component
        #system-message-container
          %p#com-form-login-username.width30.floatleft
          %h2 Log in
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            %div
              = f.label :email
              %br/
              = f.email_field :email, autofocus: true
            %div
              = f.label :password
              %br/
              = f.password_field :password, autocomplete: "off"
            - if devise_mapping.rememberable?
              %div
                = f.check_box :remember_me
                = f.label :remember_me
            %div= f.submit "Log in"
          = render "devise/shared/links"